<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(dynamicfield) -%>">
  <span class='title'>
    <%= dynamicfield.model_title %>
  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.dynamicfields_dynamicfield_path(dynamicfield),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_dynamicfields_admin_dynamicfield_path(dynamicfield),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.dynamicfields_admin_dynamicfield_path(dynamicfield),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => ""),
        :method => :delete %>
  </span>
</li>
